.side-panel-inner1
{
    background-color: #fff;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
    margin-left: 16px;
    padding: 0;
    height: calc(100vh);
    float:right;
    padding-top: 10px;
    /*width: 320px;*/
        
}
.orderpanelcontainer
{
  padding:5px;
}
.full
{
 padding: 10px;
 display: flex;
}
.chkbutton{
  flex: 1 !important;
  background: #c26847;
  margin: auto;  
}
.orderbody
{
 padding:0px;
}

.flex, h3 {
  color: #c26847;
  display: flex;
  margin: auto;
}

.mat-tab-label {
   padding: 1px 9px !important;
  opacity: 1 !important;
  min-width: 100px !important;
  font-weight: bold!important;
  color: #c26847 !important;
}

table tr td i {
  cursor: pointer;
  padding: 6px 7px;
  border-radius: 15px;
  margin-left: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}
.table tr td i.edit {
  background: #33cd5f;
  color: #fff;
}
.table tr td i.remove {
  background:#c26847 !important;
  color: #fff;
}
.table tr:last-child {
  background: #eee;
}
