.dashboard-container {
  padding: 1%;
  position: relative;
  padding-top: 0;

  .header {
    min-height: 220px;
    background: linear-gradient(60deg, #2196f3, #3f51b5);
  }
}

.margin-top {
  margin-top: 12px;
}
