{
  "PORT": PORT_NUMBER,
  "GOOGLE_CLOUD_PROJECT": "GOOGLE_PROJECT-NAME_STRING",
  "BP_MAIN_SERVER_URI": "businessplus.main.uri",
  "BP_CONTACT_URI": "http://localhost:3003",
  "BP_MAIN_SERVER_URI": "http://localhost:3000",
  "BP_MAIL_SENDER_EMAIL_ADDRESS": "plusbuisness@gmail.com",
  "BP_MAIL_SENDER_PASSWORD": "+buisness",
  "BP_PUBLIC_PAYMENT_REDIRECT_URI":"http://locahost:4200/publicPayment"
}