<form class="example-form" (submit)="login()">
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="E-Mail or UserName"
        type="text"
        name="loginmodel.email"
        [(ngModel)]="loginmodel.email"
        #myControl="ngModel"
        required
      />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        type="password"
        name="loginmodel.password"
        #myControl="ngModel"
        [(ngModel)]="loginmodel.password"
        required
      />
    </mat-form-field>
  </div>

  <div>
    <button
      color="primary"
      mat-raised-button
      type="submit"
      value="submit"
      [disabled]="!myControl.valid"
    >
      SIGN IN
    </button>
  </div>
</form>
